<div>
  <%= image_tag @gram.image_url %>
</div>

  <div>
    <%= @gram.title %>
  </div>
  </br>

  <div>
    <%= @gram.description %>
  </div>
  </br>
  <div>
    <%= country_name(@gram.location_code) %>
  </div>
  </br>

<div>
  <button><a href="/grams/">
  Run Away!
</div>
